:root {
    --vermelho: #e50914;
    --preto: #141414;
}

* {
    margin: 0;
    margin: 0;
    box-sizing: border-box;
}

/*elementos base*/

body {
    background: var(--preto);
    font-family: 'Arial', Times, serif;
    color: white;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
}


/*anime principal*/

.anime-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/capa/capa.jpg');

    height: 450px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.anime-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
}

.anime-principal .titulo {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover {
    background-color: white;
    color: black;
}

.botao i {
    margin-right: 8px;
}

.container {
    margin-left: 20px;
}

.anime-principal .container {
    width: 70%;
}

.box-anime {
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-animes {
    margin-top: 5px;
}

.carrosel-animes .box-texto {
    text-align: center;
    visibility: hidden;
    position: absolute;
    top: 50%;
    width: 100%;
    text-transform: uppercase;
}

.carrosel-animes .item img {
    transition: .3s ease all;
}

.carrosel-animes .item:hover img {
    filter: brightness(50%);
}

.carrosel-animes .item:hover .box-texto {
    visibility: visible;
}

/*modal*/
.modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: rgba(20, 20, 20, 0.900);
    transition: all .4s;
}

.modal .video {
    margin-top: 5%;
    width: 560px;
    height: 315px;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.modal-exit {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    z-index: 10000;
}
